{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h2>{{model.title}}</h2>
      <p>{{model.description}}</p>
    {{/paper-card-title-text}}
  {{/paper-card-title}}
  <div class="md-actions" layout="row" layout-align="end center">
    {{#paper-button}}Action 1{{/paper-button}}
    {{#paper-button}}Action 2{{/paper-button}}
  </div>
{{/paper-card}}
